[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/marwasafa
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/marwasafa
	label-Verified = -1..+1 group user/marwasafa
	push = group user/marwasafa
	read = group user/marwasafa
	rebase = group user/marwasafa
	removeReviewer = group user/marwasafa
	submit = group user/marwasafa
[access "refs/heads/*"]
	create = group user/marwasafa
	push = +force group user/marwasafa
	pushMerge = group user/marwasafa
	read = group user/marwasafa
[access "refs/tags/*"]
	push = group user/marwasafa
	push = +force group user/marwasafa
